body {
    max-width: 1200px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    background: lavenderblush;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, textarea, select {
  width: 100%; /* Makes it fill its container */
  font-size: 1rem; /* Scales with the user's default font size */
  padding: 0.5rem; /* Provides ample, scalable touch targets */
  box-sizing: border-box; /* Crucial when using width: 100% and padding */
}

h1 {
    font-weight: 600;
}

h1:hover{
    color: teal;
}

form {
    display: grid;
}

p {
    line-height: 1.6;
}

.submit-button {
    margin: 0;
    width: 25%;
    background-color: gray;
}

.submit-button:hover {
    background-color: aquamarine;
}

#form-confirmation {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #d4edda;
    color: #155724; 
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

.invisible {
    display: none;
}

#contact {
    display: inline-block;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
